@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Carrito

@{
}

<div class="container-fluid mb-5 pb-5 ">
    <div class="container-fluid py-0 my-0">
        <img src="~/img/Eventos/encabezado muestra permanente.jpg" style="width:100%;" alt="Alternate Text" />
    </div>


   <div class="container-fluid mt-1 mt-lg-3">
        <h2 class="fw-bold">Carrito Compras</h2>

        <div class="row">

            <div class="col-12 mt-lg-2 mt-1">
                <table class="table table-striped table-hover text-center align-middle fuente_tabla_CompraDetalle">
                    <thead class="table-warning fuente_Cabecera_PreView">
                        <tr>
                            <th>Evento</th>
                            <th>Fecha</th>
                            <th>Precio Ticket</th>
                            <th>Cantidad</th>
                            <th>Total Entradas</th>
                            <th>Botones</th>


                        </tr>

                    <tbody>
                            @foreach (var ticket in Model.tickets)
                            {
                            <tr>
                                <td>@ticket.evento_ticket.name</td>
                                <td>@ticket.fecha.ToString("dd/MM/yyyy")</td>
                                <td>@ticket.evento_ticket.valor</td>
                                <td>@ticket.cantidad</td>
                                <td>@ticket.TotalEntradas()</td>
                                <td>
                                    <button type="button" class="btn btn-danger">Eliminar</button>

                                </td>
                            </tr>
                            }

                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total:</td>
                            <td>@Model.sumarEntradas()</td>
                            <td></td>
                    </tbody>


                </table>


            </div>
            <div class="col-12 d-flex justify-content-end">

                <a type="button" class="btn btn-warning fw-bold ancho_botones_CompraDetalle" asp-area="" asp-controller="Carrito" asp-action="DetalleCompra">Continuar</a>

            </div>



        </div>
        
       



   </div>

       


</div>



