@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using System.Globalization
@using TpDiPaolantonioPWA.DAL


@{

    ViewData["Title"] = "Eventos Page";
}

@model TpDiPaolantonioPWA.Models._Evento_Tipos 


<div class="container-fluid mb-5 pb-5 ">
    <div class="container-fluid py-0 my-0">
        <img src="~/img/Eventos/programacion.jpg" style="width:100%;" alt="Alternate Text" />
    </div>


    <div class="container-fluid bg-body rounded-2 px-2 py-2 my-2">

        <form asp-controller="Eventos" asp-action="Filtrar" method="post" class="justify-content-between">

            <div class="row g-3">

                <div class="rounded-1 col-12 col-lg-2 ">

                    <label class="form-label" style="color:aliceblue;">Nombre Muestra</label>

                    <input class="form-control" type="text" name="NombreEvento" placeholder="Nombre Muestra" />

                </div>

                <div class="rounded-1 col-12 col-lg-2 ">

                    <label class="form-label" style="color:aliceblue;">Nombre Autor</label>

                    <input class=" form-control" type="text" name="Autor.Apellido" placeholder="Nombre Autor" />

                </div>

                <div class="rounded-1 col-12 col-lg-2 ">

                    <label class="form-label" style="color:aliceblue;">Categoria</label>

                    <select name="Tipo.Tipo" class="rounded-1 form-select">
                        <option></option>
                       @foreach(var i in Model._t)
                        {
                            <option>@i.Tipo</option>
                        }
                        
                       
                    </select>

                </div>

                <div class="rounded-1 col-12 col-lg-2 ">

                    <label class="form-label" style="color:aliceblue;">Foro</label>
                    
                    <select name="foro" class="rounded-2 form-select">
                        <option></option>
                        <option value="true">Nacional</option>
                        <option value="false">Internacional</option>

                    </select>


                </div>

                <div class="rounded-1 col-12 col-lg-2 ">

                    <label class="form-label" style="color:aliceblue;">Mes</label>
                  
                    <select name="Mes" class="form-select rounded-1 ">
                        <option value="">-- Mes --</option>
                        @for (int m = 1; m <= 12; m++)
                        {
                            <option value="@m">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(m)</option>
                        }
                    </select>



                </div>


                <div class="rounded-1 col-12 col-lg-2 ">


                    <label class="form-label" style="color:aliceblue;">Año</label>

                    <select name="Anio" class="form-select col-12 col-lg-2 ">
                        <option value="">-- Año --</option>
                        @for (int y = 2020; y <= DateTime.Now.Year; y++)
                        {
                            <option value="@y">@y</option>
                        }
                    </select>


                </div>
          
                <div class="col  mb-lg-2 mt-3 mt-1 col d-flex justify-content-end">

                    <button type="submit" class="btn btn-warning rounded-2 ">Buscar</button>

                </div>
                            


               





           </div>
            

        </form>

    </div>

  
</div>



    <div  class="container my-1 my-md-5 justify-content-between">
     
     
    <div class="row d-flex justify-content-between">

            @foreach (var e in Model._e)
            {
           
                <div class="card col-12 col-md-3 rounded-2 my-3 my-md-3 mx-md-1" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
                <a href="@Url.Action("Detalle","Eventos",new { id = e.Id })" class="text-decoration-none text-dark">
                       
                        <h3 class="card-title fw-bold">@e.NombreEvento</h3>
                        <h4 class="card-title fw-bold">@e.Autor.Apellido</h4>

                        <img src="@e.Portada" class="card-img-top" alt="Alternate Text" />

                        <div class="card-body">
                            <h5 class="card-title fw-bold">@e.Tipo.Tipo</h5>
                            <p class="card-text">@e.Descripcion</p>
                            <p class="text-muted">@e.FechaInicio</p>
                            <p class="text-muted">@e.FechaFin</p>
                        </div>
                     </a>
                </div>
            
            }




      </div>

           

    </div>
        
        

</div>

    
    




  